.mapa iframe {
    width: 50%;
    height: 50vh;
}


/*TOUR*/

.all-tour {
    background: url('../images/bg.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.fa-ticket-alt {
    color: var(--white);
    margin-right: 20px;
    transform: rotate(20deg);
    transition: ease-in-out 0.2s;
}

.rotacion {
    transform: rotate(0deg);
}


/*ARGENTINA*/

.tabla {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--white);
}

.container-tabla .tabla .rex p:hover {
    color: red;
}

.tabla .rex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tabla .tabla .rex p {
    font-family: var(--font);
    font-size: 20px;
    color: var(--white);
    margin-right: 20px;
}

.container-tabla .tabla .fecha {
    font-family: var(--font);
    font-size: 20px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tabla .comprar {
    background: none;
    border: 2px solid var(--argentina);
    padding: 10px;
    border-radius: 5px;
    color: var(--argentina);
    font-size: 15px;
    transition: ease-in-out 0.2s;
    height: 100%;
    margin: 5px;
}

.container-tabla .comprar:hover {
    background: var(--argentina);
    color: var(--white);
}

.container-tabla .comprar a {
    color: none;
    text-decoration: none;
}

.container-tabla .comprar a:hover {
    color: var(--white);
}


/*BRASIL*/

.brasil .comprar {
    background: none;
    border: 2px solid var(--ybrasil);
    padding: 10px;
    border-radius: 5px;
    color: var(--ybrasil);
    font-size: 15px;
    transition: ease-in-out 0.2s;
}

.brasil .comprar:hover {
    background: var(--ybrasil);
    color: var(--brasil);
}


/*CHILE*/

.chile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--white);
    border-radius: 5px;
    margin-top: 30px;
    padding: 30px;
    height: 90%;
}

.chile img {
    width: 10vw;
    height: 15vh;
    border-radius: 4px;
    margin-bottom: 10px;
}

.chile .comprar {
    background: none;
    border: 2px solid var(--chile);
    padding: 10px;
    border-radius: 5px;
    color: var(--chile);
    font-size: 15px;
    transition: ease-in-out 0.2s;
}

.chile .comprar:hover {
    background: var(--chile);
    color: var(--white);
}

#icon {
    font-size: 30px;
}


/*
.redes {
    display: flex;
    justify-content: space-between;
}
*/

.redes {
    margin-bottom: 30px;
}

.redes a {
    color: var(--gray);
}

.redes a:hover {
    color: var(--purple);
}

#mapa {
    width: 100%;
}

.redes .ico {
    margin-left: 30px;
}

.suscripcion .input {
    position: relative;
}

.email-input {
    position: absolute;
    color: white;
    left: 2px;
    top: 6px;
}

.input .btn-enviar {
    border: none;
    border-bottom: 2px solid var(--gray);
    background: var(--orange);
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
}

.suscripcion #sus-input {
    border: none;
    border-bottom: 2px solid var(--orange);
    background: var(--gray);
    padding: 10px;
    border-radius: 5px;
    padding-left: 30px;
}

.copy {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray);
    color: var(--white);
}

@media (max-width: 544px) {
    .tour .all-tour .tour-image img {
        margin-left: 0;
    }
    .tabla {
        display: flex;
        flex-wrap: wrap;
    }
    .redes {
        margin-left: 0px;
        text-align: center;
    }
    .redes .ico {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .suscripcion {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .biografia {
        margin-left: 5%;
    }
}

@media (max-width: 768px) {
    .tour .all-tour .tour-image img {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .container-tabla .comprar {
        margin-top: 50px;
    }
}

@media (min-width: 1400px) {
    .container-tabla .comprar {
        margin-top: 0px;
        margin: 50px;
    }
}