:root {
    --black: #131515ff;
    --gray: rgba(43, 44, 40, 0.39);
    --grayfooter: rgba(43, 44, 40);
    --graymenu: rgba(43, 44, 40, 0.521);
    --white: #f7fff7ff;
    --orange: #c03221ff;
    --purple: #521945ff;
    --argentina: #3393FF;
    --brasil: #34820A;
    --ybrasil: #F4DE00;
    --chile: #F41E00;
    --bchile: #0C09CA;
    --gradient: linear-gradient(to right, #480048, #C04848);
    --font: 'Oswald', sans-serif;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.upup {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 20px;
    position: fixed;
    transition: ease-in-out 0.3s;
}

.downdown {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
    position: fixed;
    transition: ease-in-out 0.3s;
}

.fa-angle-double-up {
    color: var(--orange);
    text-shadow: 1px 1px var(--grayfooter);
}

header {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.container-fluid .row .logo {
    margin-top: 20px;
}

#burger {
    color: var(--white);
    padding: 20px;
    background-color: var(--gray);
    border-radius: 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.menu ul {
    display: flex;
}

.menu li {
    margin-left: 20px;
    position: relative;
}

.menu li a {
    color: var(--white);
    font-family: var(--font);
    text-decoration: none;
}

.menu li a:hover {
    color: var(--grayfooter);
}

.menu li a::after {
    content: "";
    position: absolute;
    background: var(--orange);
    height: 10%;
    width: 0%;
    left: 0;
    bottom: 0;
    transition: ease-in-out 0.4s;
}

.menu li a:hover::after {
    width: 100%;
}

#burger {
    display: none;
}